
<html>
<title>Saumya Weds Monarch</title>
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Courgette">

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Great+Vibes">
        <script src="lib/angular.min.js"></script>
        <script src="lib/angular-resource.min.js"></script>
                 
<style>
body{font-family: "Courgette", sans-serif;}
h1,h2{font-family: "Great Vibes", sans-serif;}
body, html {height: 100%;line-height: 1.2;}

.bgimg   {
  min-height:100%;
  background-position-x: center;
    background-position-y: center;
  background-size: cover;
  
}

 .bgimg1, .bgimg3 , .bgimg2{
   min-height:100%;
  background-position-x: center;
    background-position-y: center;
  
}
.bgimg {background-image: url("images/cover1.jpg")}
.bgimg1 {background-image: url("images/redbg.jpg");}
.bgimg2 {background-image: url("images/cherrybg.jpg");}
.bgimg3 {background-image: url("images/rsvp.jpg");}
.bgimg4 {background-image: url("images/rsvp2.jpg");}

.w3-text-white-shadow{background-color: #00000040;}

.close{
  position: absolute;
    top: 0;
    right: 0;
        margin: 0px 20px;
    font-size: 40px;
    line-height: 25px;
}
.close:hover {background: #bbb;}

.invert {-webkit-filter: invert(100%);filter: invert(100%);}
.btn-border{border: solid;}

.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}

.effect {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}


@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


</style>
<body  >

<!-- Header / Home-->
<header class="w3-display-container w3-wide bgimg " id="home">
  <div class="w3-display-middle w3-text-white w3-text-white-shadow w3-center">
    <img class="w3-round " src="images/ganesh1.png" style="width:100px">
    <h1 class="w3-jumbo">Saumya & Monarch</h1>
    <h2>Are getting married...</h2>
    <h2><b>10.11.2019</b></h2>
  </div>
</header>

<!-- Navbar (sticky bottom) -->
<div class="w3-bottom w3-hide-small">
  <div class="w3-bar w3-black w3-center w3-padding w3-opacity-min w3-hover-opacity-off">
    <a href="#home" style="width:25%" class="w3-bar-item w3-button">Home</a>
    <a href="#us" style="width:25%" class="w3-bar-item w3-button">Saumya & Monarch</a>
    <a href="#wedding" style="width:25%" class="w3-bar-item w3-button">Wedding</a>
    <a href="#rsvp" style="width:25%" class="w3-bar-item w3-button ">RSVP</a>
  </div>
</div>

<!-- About us -->
<div class="w3-container w3-padding-64 w3-text-white bgimg2"  id="us">
  <div class="w3-content">
    <h1 class="w3-center "><b>Saumya & Monarch</b></h1>
    <!--<img class="w3-round " src="images/couple.jpg" style="width:100%;margin:32px 0">-->
    
    <div class="w3-content w3-display-container" style="max-width:500px">
  <img class="mySlides effect" src="images/couple6.jpg" style="width:100%">
  <img class="mySlides effect" src="images/couple3.jpg" style="width:100%">
  <img class="mySlides effect" src="images/couple7.jpg" style="width:100%">
  <img class="mySlides effect" src="images/couple1.jpg" style="width:100%">
  <img class="mySlides effect" src="images/couple5.jpg" style="width:100%">
  <img class="mySlides effect" src="images/couple4.jpg" style="width:100%">
  <img class="mySlides effect" src="images/couple2.jpg" style="width:100%">
  <img class="mySlides effect" src="images/couple8.jpg" style="width:100%">
  <img class="mySlides effect" src="images/couple9.jpg" style="width:100%">
  <div class="w3-center w3-container w3-section w3-large w3-text-white w3-display-bottommiddle" style="width:100%">
    <div class="w3-left w3-hover-text-khaki" onclick="plusDivs(-1)">&#10094;</div>
    <div class="w3-right w3-hover-text-khaki" onclick="plusDivs(1)">&#10095;</div>
    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(4)"></span>
    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(5)"></span>
    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(6)"></span>
    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(7)"></span>
    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(8)"></span>
    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(9)"></span>
  </div>
</div>
    
    <p><i>Saumya Agarwal
Daughter of Mr. D.K Agarwal & Mrs. Ramna Agarwal , From Lucknow
<br>
and
<br>
Monarch Mehta
Son of Mr. Pramod Mehta & Mrs. Jyoti Mehta , From Delhi
<br>
Together with their families Request the honour of your presence in their celebration as they join together in holy matrimony on the auspicious day of 10th November 2019. </i>
</p><br>
    <p class="w3-center"><a href="#wedding" class="w3-button w3-red btn-border w3-round w3-padding-large w3-large">Wedding Details</a></p>
  </div>
</div>



<!-- Wedding information -->
<div class="w3-container w3-padding-64 w3-text-white  w3-center bgimg1" id="wedding">
  <div class="w3-content">
    <h1 ><b>The Wedding</b></h1>
    <img class="w3-round-large" src="images/location.jpg" style="width: 100%;margin:32px 0">
    <div class="w3-row">
      <div class="w3-half">
        <h2>When</h2>
        <p>Baraat - 6:30pm 10/11/2019</p>
        <p>Dinner - 8:00pm 10/11/2019</p>
        <p>Phere - 12:00am 11/11/2019</p>
        
        
      </div>
      <div class="w3-half">
        <h2>Where</h2>
        <p>5, Ashoka Rd</p>
        <p>Janpath, Connaught Place</p>
        <p>New Delhi, Delhi 110001</p>
      </div>
        <div class="invert">
      <iframe  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3502.4213674353673!2d77.22236074956204!3d28.617130782337675!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce2cebf46ef55%3A0x5c436cfe7bd5835b!2s5%2C%20Ashoka%20Rd%2C%20Janpath%2C%20Connaught%20Place%2C%20New%20Delhi%2C%20Delhi%20110001!5e0!3m2!1sen!2sin!4v1567857437227!5m2!1sen!2sin" width="100%" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>
    </div>
  </div>
</div>

<!-- RSVP section -->
<div class="w3-container w3-padding-32  w3-center w3-wide w3-text-white bgimg3" id="rsvp">
     <h1 class="w3-jumbo">With great pleasure </h1>
    <h2>We invite you to share in our joy..</h2>
    <br>
  <h1>Hope you can make it!</h1>
  <p class="w3-large">Kindly Respond</p>
  <p class="w3-xlarge">
    <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-round w3-red btn-border w3-hover-opacity-off" style="padding:8px 60px">RSVP</button>
  </p>
</div>

<!-- RSVP modal -->
<div ng-app="app" ng-controller="addGuest" id="id01" class="w3-modal">
  <div class="w3-modal-content w3-card-4 w3-animate-zoom bgimg4" style="padding:60px 20px 20px;max-width:600px">
    <div class="w3-container w3-white w3-center" style="background-color:#fff0!important;">
      <h1 class="w3-wide">Can You Come?</h1>
       <span onclick="document.getElementById('id01').style.display='none'" class="close">&times;</span>
      <p>We really hope you can make it.</p>
      <form name="myForm" >
        <input  ng-model="guest.guestname" class="w3-input w3-border" type="text" placeholder="Please enter your name"  id="guestname"  required>
        <input  ng-model="guest.guestcount" class="w3-input w3-border" type="number" min="1" max="9"  required placeholder="No. of Guests expected" id="guestcount">
      
      <p><i>Sincerely, Monarch & Saumya</i></p>
      <div class="w3-row">
        <div class="w3-half">
          <button id="Y" type="submit" ng-click="rsvpresponse($event)" ng-disabled="myForm.$invalid" class="w3-button w3-block w3-green">Going</button>
        </div>
        <div class="w3-half">
          <button id="N" ng-click="rsvpresponse($event)"   ng-disabled="myForm.$invalid" type="button" class="w3-button w3-block w3-red">Can't come</button>
        </div>

      </div>
      
    </form>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="w3-center w3-black w3-padding-16">
  <p>Reach us out :<br> Monarch (9999744220) And Saumya (9646448234)</p>
</footer>
<div class="w3-hide-small" style="margin-bottom:32px"> </div> 




<script>
  var app=angular.module('app',['controllers','ngResource']);
  var controllers=angular.module('controllers',[]);
controllers.controller('addGuest', function($scope,$resource){
//      var url='http://localhost:24342/weddinginvite/api/guests'; 
       var url='http://saumyamonarch.whelastic.net/api/guests'; 
        
        

        $scope.rsvpresponse = function() {
            var res= $resource(url);
            var payload=$scope.guest.guestname+"//"+$scope.guest.guestcount+"//"+event.target.id;
            console.log(payload);
            
            
            res.save(payload, function(data) {
            if(data["0"]=="1")
            {
             console.log("Saved");
             document.getElementById('id01').style.display='none';
             }
            else
            console.log("Error");
            });
            
    
         };        
        
       });    
       
       
       
       
       
var slideIndex = 0;


showSlides();

function showSlides() {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";  
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}    
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" w3-white", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " w3-white";
  setTimeout(showSlides, 4000); // Change image every 2 seconds
}

//showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function currentDiv(n) {
  showDivs(slideIndex = n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" w3-white", "");
  }
  x[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " w3-white";
}

    </script>
</body>
</html>
